<% if Current.user %>
  <%= Current.user.email %>
  <div id='message-center'>
    <h2>Message Center</h2>
    <% Current.user.messages.each do |message| %>
      <%= message.content %>
    <% end %>
  </div>
  <div id='organizations'>
    <h2>Organizations</h2>
    <h3>view</h3>
    <ul>
      <% Current.user.organizations.each do |org| %>
        <li><%= org.name %></li>
      <% end %>
  </div>
<% else %>
  <h1>CodeRun</h1>
<% end %>
