<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>
<%= Current.user.email %>

<h2>Message Center</h2>
<% Current.user.messages.each do |message| %>
  <%= message.content %>
<% end %>
